PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cogep_db
JWT_SECRET=cogep-secret-key

# Configuración de Servidor de Correo SMTP (Mailtrap / Ethereal)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario_de_pruebas
SMTP_PASS=tu_contrasena_de_pruebas
